@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root{
    --cor00: #ffffff;
    --cor01: #000000;
    --cor02: #ff7bf896;
    --cor03: #dd52d6;
    --cor04: #852880;

}

body{
    background-color: var(--cor02);
    text-align: center;
}

header h2 a{
    text-decoration: none;
    color: var(--cor01);
}
header h2 a:hover{
    color: var(--cor04);
}

nav{
    background-color: var(--cor03);
    border: 2px solid black;
    border-radius: 15px;
    margin: 20px 30px;
    padding: 5px;
    width: 300px;
    vertical-align: baseline;
}
nav a {
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
    color: var(--cor00);
    text-align: center;
}
nav a:hover{
    color: var(--cor04);
    text-decoration: underline;
}

main{
    background-color: var(--cor00);
    margin: 10px, 50px;
    padding: 10px;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    height: 150%;
    border-radius: 10px;
    
}

foot{
    background-color: var(--cor02);
}