@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root{
    --cor00: #ffffff;
    --cor01: #000000;
    --cor02: #ff7bf862;
    --cor03: #dd52d6c0;
    --cor04: #852880;

}

body{
    background-color: var(--cor02); /*colocar imagem fixa*/
    text-align: center;
}

header h1{
    font-size: 3em;
    text-shadow: 3px 1px 0px rgba(0, 0, 0, 0.356);
    margin: 10px;
    padding: 10px;
}
header h2 a{
    color: var(--cor01);
}
header h2 a:hover{
    color: var(--cor04);
}


nav{ /*coloquei <br> para separar os botoes*/
    background-color: var(--cor03);
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.459);
    
    margin: auto;
    padding: 10px;
    width: 350px;
    min-width: 300px;
    max-width: 1000px;
}
nav a {
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
    color: var(--cor00);
    text-align: center;
    margin-bottom: 10px;
}
nav a:hover{
    color: var(--cor04);
    text-decoration: underline;
}


main{
    background-color: var(--cor00);
    margin: 10px, 50px;
    padding: 10px;
    
    margin: auto;
    height: 150%;
    border-radius: 10px;
    min-width: 300px;
    max-width: 1000px;
}


article section{
    background-color: var(--cor02);
    margin: 10px;
    padding: 10px;
    min-width: 300px;
    max-width: 1000px;

}
article section a{
    color: var(--cor01);
}
article section a:hover{
    color: var(--cor04);
}
#destaque{
    color: var(--cor04);
}


footer p {
    background-color: var(--cor03);
    text-align: center;
    margin-top: 5px;
    margin-right: 0px;
    padding: 8px;
    border: 1px solid var(--cor04);
    color: var(--cor00);
}
footer p a{
    color: var(--cor00);    
}
footer p a:hover{
    color: var(--cor04);
}