@charset "UTF-8";

@font-face {
  font-family: "destaque1";
  src: url(fontes/Handmade.otf) format(opentype);
}
@font-face {
  font-family: "pascoa";
  src: url(fontes/pascoa1.ttf) format(truetype);
}

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --fundoMain: #4f96d849;
  --titulos: #8f0ccf;
  --textos: #000000;
  --destaques: cyan;
  --ContatosFooter: #8a19d0d8;

  --font01: "destaque1";
  --fontpascoa: "pascoa";
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #5c9dda69;
  background-size: cover;
  text-align: center;

  display: flex; /*coloquei na lateral os icones*/
  flex-direction: column;
  justify-content: space-between; /*vai separar as partes do header do body e do footer*/

  width: 100%;
}

header {
  background-size: contain;
  width: 100%;
}
header p img {
  margin-top: 55px;
  margin-bottom: 20px;
  max-width: 150px;
  max-height: 150px;
}

#titulo {
  color: var(--titulos);
  text-align: center;
  font-family: var(--font01);
  font-weight: 800;
  font-size: 1.9em;
  line-height: 1.5em; /*espaçamento entre as linhas*/

  margin: auto;
  padding: 11px;
  min-width: 300px;
  max-width: 1000px;
}

#tituloFAQ {
  color: var(--titulos);
  text-align: center;
  font-family: var(--font01);
  font-weight: 800;
  font-size: 1.9em;
  line-height: 1.5em; /*espaçamento entre as linhas*/

  margin: auto;
  margin-top: 10px;
  padding: 11px;
  min-width: 300px;
  max-width: 1000px;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1; /* Faz o main ocupar o espaço disponível */
}

main article {
  /*sempre verificar se o codigo ta no lugar certo*/
  /* background-color: var(--fundoMain); */
  padding: 10px;
  margin: auto;
  border: var(--ContatosFooter);
  border-radius: 10px;

  min-width: 300px;
  max-width: 1000px;
}
main h1 {
  font-family: var(--font01);
  color: var(--titulos);
  text-align: center;
  font-weight: 800;
  font-size: 1.7em;
  text-align: center;
}
main h2 {
  text-align: left;
  line-height: 1.2em;
  font-weight: 100;
  font-size: 1.2em;
}
main p {
  font-size: 1.2em;
  line-height: 1.5em;
  font-family: "Times New Roman", Times, serif;
}

p {
  text-indent: 20px;
  font-size: 1.2em;
  line-height: 1.5em;
  text-indent: 0px;
  font-family: "Times New Roman", Times, serif;
}

#espaçodelinha {
  line-height: 1.7em;
  font-weight: 800;
}
#linha {
  line-height: 1.8em;
}
#destaque {
  color: var(--titulos);
}
li {
  text-indent: 0;
}

#colunas {
  display: flex;
  justify-content: center; /* centraliza as colunas */
  gap: 20px;
  max-width: 1000px; /* controla a largura máxima */
  margin: 0 auto; /* centraliza o bloco na página */
  padding: 20px;
  flex-wrap: wrap; /* quebra se for tela pequena */
  border-radius: 10px;
}
#colunas > div {
  flex: 1 1 30%; /* cada div ocupa até 30% do espaço, ajustável */
  max-width: 300px;
}
.espaçolateral {
  padding-right: 10%; /*espaços para os ingredientes dos sabores*/
}

article section {
  margin: 10px;
  padding: 10px;
  min-width: 300px;
  max-width: 1000px;
  border-radius: 10px;
}
ul {
  font-size: 1.1em;
  text-align: left;
  list-style-position: inside;
}

.imagem {
  padding-left: 15px;

  margin: auto;
  border-radius: 10px;
  min-width: 300px;
  max-width: 1000px;
}
#img1 {
  /* background: url(/imagens/imagemdefundorosa.jpg) center no-repeat fixed; */
  /* background-size: cover; Cover: ele adapta a imagem em todo, de acordo com o tamanho do navegador */
  min-width: 300px;
  max-width: 1000px;

  display: flex; /*para deixar em linha*/
  justify-content: center;
  align-items: center; /*alinhado do centro*/
}
#img2 {
  background: url(/imagens/fundoazul3.jpg) center no-repeat fixed;
  background-size: cover; /*Cover: ele adapta a imagem em todo, de acordo com o tamanho do navegador */
  min-width: 300px;
  max-width: 1000px;

  display: flex; /*para deixar em linha*/
  justify-content: center;
  align-items: center; /*alinhado do centro*/
}
.img {
  margin: 10px;
  border: 2px solid black;
  border-radius: 15px;
  width: 260px;
}
.img:hover {
  box-shadow: 0px 0px 8px 1.2px rgba(0, 0, 0, 0.616);
  transition-duration: 0.2s;
}

.color1 {
  color: var(--titulos);
  text-align: left;
}
.color2 {
  color: var(--textos);
  text-align: left;
  /* line-height: 1.8em; */
  font-weight: 900;
}

#embalagens {
  text-align: center;
}

.text {
  color: var(--textos);
  font-family: var(--font01);
  font-weight: 100;
  font-size: 1.6em;
  line-height: 1.1em; /*espaçamento entre as linhas*/
}

a#linkit,
#linkFAQ {
  /*text-decoration: overline underline; */
  text-decoration: none;
  text-shadow: 1px 1px black;
  color: var(--ContatosFooter);
  font-weight: 800;
}
a#linkit:hover {
  text-decoration: underline;
}
a#linkFAQ:hover {
  text-decoration: underline;
}
a#linkFAQ::after {
  content: "←";
  margin-left: 8px; /* Espaço entre o link e a seta */
  font-size: 1em;
}
a#linkFAQ::before {
  content: "→";
  margin-right: 8px; /* Espaço entre o link e a seta */
  font-size: 1em;
}

aside {
  margin-bottom: 25px;
}
aside a {
  text-decoration: none;
  text-decoration: underline;
  color: var(--textos);
}
aside a:hover {
  color: var(--titulos);
  text-decoration: underline;
  font-weight: 600;
}

#contatos {
  color: var(--textos);
  background-color: var(--ContatosFooter);
  padding: 10px;
  margin-right: 10px;
  font-family: var(--font01);
  font-size: larger;
  text-decoration: none;

  border-radius: 10px;
  box-shadow: -2px 2px 3px 3px rgba(0, 0, 0, 0.719);
}
#contatos:hover {
  color: white;
  box-shadow: 1px 2px 3px 3px rgba(0, 0, 0, 0.719);
}

.scroll-top {
  position: fixed;
  bottom: 25px;
  right: 30px;
  color: #8f0ccf;
}
#botao-top {
  cursor: pointer;
}

footer p {
  background-color: var(--ContatosFooter);
  text-align: center;
  margin-top: 5px;
  margin-right: 0px;
  padding: 8px;
  color: var(--textos);
}
footer p a {
  color: var(--textos);
}
footer p a:hover {
  color: var(--titulos);
}

@media (max-width: 750px) {
  #titulo {
    font-size: 1.8em;
  }
  main h1 {
    margin-top: 5px;
  }

  #tituloFAQ {
    font-size: 1.8em;
  }

  .espaçolateral {
    padding-right: 0%; /*espaços para os ingredientes dos sabores*/
  }
  #colunas {
    display: grid; /*para deixar um em cima do outro e no meio*/
    grid-template-columns: 1fr; /* força 1 coluna apenas */
    justify-items: center; /* centraliza os filhos horizontalmente */
    padding: 0%;
  }
  #colunas > div {
    width: 100%;
    min-width: 300px;
  }
  .img {
    margin: 10px;
    border: 2px solid black;
    border-radius: 15px;
    width: 240px;
  }
  #img2 {
    display: flex;
    flex-direction: column; /*deixar a coluna em baixo*/
  }

  .scroll-top {
    bottom: 23px;
    right: 10px;
  }
}

@media (max-width: 540px) {
  #titulo {
    font-size: 1.7em;
  }
  #tituloFAQ {
    font-size: 1.7em;
  }

  main h1 {
    margin-top: 5px;
  }

  .color1 {
    line-height: 1.1em;
    margin-top: 15px;
  }

  #img2 {
    background: url(/imagens/fundoazul4.jpg) center no-repeat fixed;
    background-size: cover; /*Cover: ele adapta a imagem em todo, de acordo com o tamanho do navegador

    min-width: 300px;
    max-width: 1000px;

    display: flex; /*para deixar em linha*/
    align-items: center; /*alinhado do centro*/
  }

  .text {
    font-size: 1.4em;
  }
  #contatos {
    font-size: 1.2em;
  }
}

@media (max-width: 400px) {
  #titulo {
    /*h1*/
    font-size: 1.4em;
  }
  main h1 {
    font-size: 1.5em;
  }

  #tituloFAQ {
    font-size: 1.8em;
  }
  #tituloKitsbutton {
    align-items: center;
    width: 25px;
    margin-left: 15%;
  }

  .scroll-top {
    bottom: 60px;
    right: 10px;
  }
  .scroll-top img {
    width: 45px;
    height: 50px;
  }
}
